body {
    touch-action:manipulation;
    background-image: url(/images/background.jpg);
}
.number {
    position: absolute;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=0.50);
}
